/* Style for the form container */
form {
    max-width: 600px;
    margin: 0 auto;
}

/* Style for the form header */
h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Style for the form labels */
label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;

}

/* Style for the form inputs */
input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

/* Style for the form checkboxes */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container label {
    margin-bottom: 0;
    margin-right: 0.5rem;
}

/* Style for the form buttons */
button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #428bca;
    color: #fff;
}

button[type="reset"] {
    background-color: #ccc;
    color: #000;
}
button[type="reset"]:hover {
    background-color: #00ff33;
}

/* Style for the back button */
a button {
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}

a button:hover {
    background-color: #eee;
}
