<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Superhero Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/createSuperhero.css}" rel="stylesheet">
</head>
<body>
<div align="center">
    <h1>Create Superhero</h1>
    <form th:action="@{/kea/superhero/add}" method="post" th:object="${superhero}">
        <label>Hero name:</label>
        <input type="text" th:field="*{heroName}" /><br/>

        <label>Real name:</label>
        <input type="text" th:field="*{realName}" /><br/>

        <label>Creation date:</label>
        <input type="date" th:field="*{creationDate}" /><br/>

        <label>City:</label>
        <select th:field="*{city}">
            <option value="">--Please select--</option>
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
        </select>


        <label>Chose the superpower</label>
        <div th:each="power : ${powers}" class="checkbox-container">
            <label><input type="checkbox" th:field="*{powerList}" th:value="${power}" th:text="${power}" /></label>
        </div>
        <button type="submit">Register</button>
        <button type="reset">Reset</button>
        <a th:href="@{/kea/superhero}"><button type="button">Back to Database</button></a>

    </form>
</div>
</body>
</html>